.body-profile {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

.ul-profile {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.header-wrapper header {
    width: 100%;
    background-image: url("https://i.ytimg.com/vi/6THZMVLl_oQ/maxresdefault.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100px + 15vw);
}

.cols-container {
    display: flex;
}

.left-col {
    padding: 25px 20px;
    text-align: center;
    max-width: 350px;
    position: relative;
    margin: 0 auto;
}

.img-container {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.img-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.18);
}

.img-container span {
    position: absolute;
    background: #2afa6a;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    bottom: 3px;
    right: 11px;
    border: 2px solid #fff;
}

.left-col h2 {
    margin-top: 60px;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.left-col p {
    color: #818181;
    font-size: 0.9rem;
    margin: 0;
}

.left-col .about {
    justify-content: space-between;
    position: relative;
    margin: 35px 0;
}

.left-col .about li {
    display: flex;
    flex-direction: column;
    color: #818181;
    font-size: 0.9rem;
}

.left-col .about li span {
    color: #1d1d1d;
    font-weight: 600;
}

.left-col .about::after {
    position: absolute;
    content: "";
    bottom: -16px;
    display: block;
    background: #ccc;
    height: 1px;
    width: 100%;
}

.content {
    position: relative;
    top: 70px;
}

.content p {
    font-size: 1rem;
    color: #1d1d1d;
    line-height: 1.8rem;
}

.rigth-col nav {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
    flex-direction: column;
}

.rigth-col nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.link-profile {
    text-transform: uppercase;
    color: #818181;
    cursor: pointer;
}

.link-profile:hover {
    color: black;
}

.rigth-col nav button {
    background: #0091ff;
    color: #fff;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
}

.rigth-col nav button:hover {
    opacity: 0.8;
}

.rigth-col .photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}

.rigth-col .photos img {
    max-width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
}

@media(max-width: 850px) {

    .cols-container {
        display: block;
    }

}